.btn {
  border: none;
  font-size: 1rem;
  position: relative;
}

.btn .tooltiptext {
  background-color: none;
  border-radius: 6px;
  color: transparent;
  font-size: 0.8rem;
  left: -30%;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 100%;

  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-delay: 0.5s;
  transition-timing-function: ease-in;

  visibility: hidden;
  width: fit-content;
  z-index: 1;
}

.btn:hover .tooltiptext {
  visibility: visible;
  background-color: var(--primary-form-bg-color);
  color: var(--primary-text-color);
}
