.light {
  transition: all 0.5s linear;

  --primary-text-color: #202124;
  --secondary-text-color: #202124;

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #5f6368;

  --primary-form-bg-color: #e8eaed;
  --secondary-form-bg-color: #ffffff;

  --primary-btn-color: #202124;
  --secondary-btn-color: #e8eaed;

  --primary-btn-bg-color: green;
  --secondary-btn-bg-color: #ffffff;

  --primary-border-color: #e0e0e0;
  --secondary-border-color: #e8eaed;

  --table-border-color: #5f6368;

  --danger-color: red;
  --warning-color: #f9a825;
  --success-color: #003666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text-color: #e8eaed;
    --secondary-text-color: #202124;

    --primary-bg-color: #202124;
    --secondary-bg-color: #5f6368;

    --primary-form-bg-color: #5f6368;
    --secondary-form-bg-color: #e8eaed;

    --primary-btn-color: #e8eaed;
    --secondary-btn-color: #e8eaed;

    --primary-btn-bg-color: #5f6368;
    --secondary-btn-bg-color: #878c92;

    --primary-border-color: #5f6368;
    --secondary-border-color: #e8eaed;

    --table-border-color: #5f6368;

    --danger-color: #7e253a;
    --warning-color: #f9a825;
    --success-color: #003666;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* #root {
  transition: all 0.5s linear;
} */
