.container {
  background-color: var(--primary-bg-color);
  padding: 3rem;
}

.bar-chart {
  margin: auto;
  max-width: 80vw;
}

@media (max-width: 768px) {
  .container {
    padding: 3rem 0;
  }

  .bar-chart {
    width: 100vw;
  }
}
